@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-fustat);
  color: #2d343a;
  background-color: #f4f3ee;
  background-size: cover;
  line-height: 30px;
}

a {
  cursor: pointer;
}

img {
  height: auto !important;
  width: auto !important;
  max-width: 100%;
}

.font-helvetica-now {
  font-family: var(--font-helvetica-now);
}

.font-segoeUi {
  font-family: var(--font-segoeUi);
}

.font-the-bold {
  font-family: var(--font-the-bold);
}

.leading-28 {
  line-height: 28px;
}

.leading-24 {
  line-height: 24px;
}

.leading-20 {
  line-height: 20px;
}

.text-brown {
  color: #ca8555;
}

.text-green {
  color: #6c8e69;
}

.text-light-black {
  color: #333333;
}

.text-dark-black {
  color: #1e2939;
}

.text-gray {
  color: #d4d4d4;
}

.text-light-gray {
  color: #eaecf0;
}

.bg-light-green {
  background-color: #d4dace;
}

.bg-dark-green {
  background-color: #6c8e69;
}

.bg-green {
  background-color: #839e73;
}

.bg-primary {
  background-color: #f4f3ee;
}

.bg-light-gray {
  background-color: #f1f5f9;
}

.bg-dark-gray {
  background-color: #f5f5f5;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.f-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.pt-120 {
  padding-top: 120px;
}

.py-120 {
  padding: 120px 0;
}

.px-120 {
  padding: 0 120px;
}

.p-260 {
  padding: 0 260px;
}

.process-box-padding {
  padding: 44px 70px;
}

.price-box-padding {
  padding: 30px 24px;
}

.blog-box-padding {
  padding: 16px 16px 20px 16px;
}

.mt-50 {
  margin-top: 50px;
}

.p-70 {
  padding: 70px;
}

.px-70 {
  padding: 0 70px;
}

.py-48 {
  padding: 48px 0;
}

.p-46 {
  padding: 46px;
}

.p-45 {
  padding: 86px 45px;
}

.p-25 {
  padding: 25px;
}

.p-20 {
  padding: 20px;
}

.p-18 {
  padding: 18px;
}

.p-15 {
  padding: 15px;
}

.p-16 {
  padding: 16px;
}

.btn {
  padding: 12px 27px;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

.btn-xsm {
  padding: 15px 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.btn-sm {
  padding: 14px 0;
  font-size: 14px;
  line-height: 100%;
}

.btn-md {
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.btn-lg {
  padding: 14px 70px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.btn-xl {
  padding: 14px 65px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.btn-primary {
  background-color: #6c8e69;
  border: 1px solid #000;
  border-radius: 6px;
  color: #fff;
}

.btn-green {
  background-color: #839e73;
  border-radius: 6px;
  color: #fff;
}

.btn-lightgreen {
  background-color: #d4dace4d;
  border: 1px solid #6c8e69;
  border-radius: 6px;
  color: #6c8e69;
}

.btn-transparent {
  border: 1px solid #000;
  border-radius: 6px;
  color: #000;
}

.btn-tertiary {
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
}

.slide-btn {
  padding: 22px 26px;
}

/* navbar */
.navbar .logo-wrapper {
  height: 69px;
  width: 75px;
}

.navbar-menu {
  background-color: #fff;
  padding: 16px 30px;
  border-radius: 6px;
}

/* HERO-SECTION */
.hero-section {
  background: rgba(190, 201, 184, 0.6);
}

.hero-wrapper {
  padding-top: 160px;
  padding-bottom: 70px;
}

.hero-section .image-wrapper {
  width: 44px;
  height: 44px;
}

.users {
  background-color: #fff;
  border-radius: 13px;
  bottom: 35px;
  left: 110px;
}
/* STATISTICS-SECTION */

/* HELPING-SECTION */

.helping-section .image-wrapper {
  width: 41px;
  height: 41px;
}

/* TESTIMONIAL-SECTION */
.testimonial-section .image-wrapper {
  height: 52px;
  width: 52px;
}

/* INSTAGRAM-SECTION */
.instagram-section .image-wrapper {
  width: 322px;
  height: 424px;
}

/* PROCESS-SECTION */
.process-section .image-wrapper {
  height: 32px;
  width: 32px;
}

/* blog-section */

/* FAQS-SECTION */
.faq-drawer {
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.faq-drawer__content-wrapper {
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  cursor: pointer;
  display: block;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: " ";
  display: inline-block;
  float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: -2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}

.faq-drawer:has(input:checked) {
  background-color: #6c8e69 !important;
  color: #fff;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

/* FOOTER-SECTION */
.footer-wrapper .image-wrapper{
  height: 64px;
  width: 70px;
}

.footer-section .footer-wrapper {
  background-color: #6c8e69;
  padding-top: 64px;
  padding-bottom: 48px;
}

.footer-bottom .bottom-footer-wrapper {
  background-color: #81b57c;
}

.footer-bottom .image-wrapper{
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 1279.97px) {
}

/* ------------ */

@media screen and (max-width: 1399.97px) {
  body {
    font-size: 15px;
    line-height: 28px;
  }
  h1 {
    font-size: 50px;
  }
  /* 44 */
  h2 {
    font-size: 40px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 23px;
  }
  /* 20 */
  h5 {
    font-size: 18px;
  }
  /* 18 */
  h6 {
    font-size: 18px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-19 {
    font-size: 19px;
  }

  .pt-120 {
    padding-top: 120px;
  }

  .py-120 {
    padding: 120px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 0 260px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 34px 54px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 24px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 16px 16px;
  }

  .mt-50 {
    margin-top: 44px;
  }

  .p-70 {
    padding: 56px;
  }

  .px-70 {
    padding: 0 56px;
  }

  .py-48 {
    padding: 40px 0;
  }
  /* all 46 */
  .p-46 {
    padding: 46px 22px;
  }

  .p-25 {
    padding: 22px;
  }

  .p-20 {
    padding: 18px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 16px;
  }

  /* .btn {
    padding: 13px 18px;
    font-size: 14px;
  }

  .btn-sm {
    padding: 15px;
    font-size: 14;
  }

  .btn-md {
    padding: 11px 16px;
    font-size: 13px;
  }

  .btn-lg {
    padding: 14px 70px;
    font-size: 14px;
  } */

  .slide-btn {
    padding: 22px 26px;
  }

  /* HERO-SECTION */
  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 26px;
    left: -10px;
  }

  .hero-wrapper {
    padding-top: 130px;
    padding-bottom: 56px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 58px;
    padding-bottom: 48px;
  }
  .faq-drawer__title::after {
    top: 7px;
  }
}

@media screen and (max-width: 1199.97px) {
  body {
    font-size: 14px;
    line-height: 26px;
  }
  h1 {
    font-size: 48px;
  }
  /* 44 */
  h2 {
    font-size: 38px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 22px;
  }
  /* 20 */
  h5 {
    font-size: 17px;
  }
  /* 18 */
  h6 {
    font-size: 17px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-19 {
    font-size: 18px;
  }

  .pt-120 {
    padding-top: 105px;
  }

  .py-120 {
    padding: 105px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 0 180px;
  }

  /* 44 70 */
  .process-box-padding {
    padding: 30px 48px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 20px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 40px;
  }

  .p-70 {
    padding: 44px;
  }
  .px-70 {
    padding: 0 44px;
  }
  .py-48 {
    padding: 40px 0;
  }

  /* all 46 */
  .p-46 {
    padding: 35px 20px;
  }

  .p-25 {
    padding: 20px;
  }

  .p-20 {
    padding: 16px 18px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 14px 16px;
  }

  /* .btn {
    padding: 11px 18px;
    font-size: 13px;
  }

  .btn-sm {
    padding: 14px;
    font-size: 13px;
  }

  .btn-md {
    padding: 10px 15px;
    font-size: 13px;
  }

  .btn-lg {
    padding: 12px 55px;
    font-size: 13px;
  } */

  .slide-btn {
    padding: 22px 24px;
  }

  /* HERO-SECTION */
  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 24px;
    left: -10px;
  }

  .hero-wrapper {
    padding-top: 122px;
    padding-bottom: 50px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 52px;
    padding-bottom: 48px;
  }
  .faq-drawer__title::after {
    top: 7px;
  }
}

@media screen and (max-width: 1023.97px) {
  body {
    font-size: 14px;
    line-height: 26px;
  }

  h1 {
    font-size: 45px;
  }
  /* 44 */
  h2 {
    font-size: 38px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 22px;
  }
  /* 20 */
  h5 {
    font-size: 18px;
  }
  /* 18 */
  h6 {
    font-size: 17px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-19 {
    font-size: 18px;
  }

  .pt-120 {
    padding-top: 90px;
  }

  .py-120 {
    padding: 90px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 0 100px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 30px 30px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 24px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 36px;
  }

  .p-70 {
    padding: 40px;
  }

  .px-70 {
    padding: 0 40px;
  }

  .py-48 {
    padding: 40px 0;
  }
  /* all 46 */
  .p-46 {
    padding: 30px 20px;
  }

  .p-25 {
    padding: 20px;
  }

  .p-20 {
    padding: 15px 17px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 14px;
  }

  /* .btn {
    padding: 10px 15px;
    font-size: 13px;
  }

  .btn-sm {
    padding: 13px;
    font-size: 13px;
  }

  .btn-md {
    padding: 10px 15px;
    font-size: 13px;
  }

  .btn-lg {
    padding: 10px 45px;
    font-size: 13px;
  } */

  .slide-btn {
    padding: 20px 22px;
  }

  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 75px;
    left: 45px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .faq-drawer__title::after {
    top: 5px;
  }
}

@media screen and (max-width: 767.97px) {
  body {
    font-size: 14px;
    line-height: 24px;
  }

  .leading-24 {
    line-height: 20px;
  }

  h1 {
    font-size: 45px;
  }
  /* 44 */
  h2 {
    font-size: 35px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 22px;
  }
  /* 20 */
  h5 {
    font-size: 17px;
  }
  /* 18 */
  h6 {
    font-size: 16px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-19 {
    font-size: 18px;
  }

  .pt-120 {
    padding-top: 75px;
  }

  .py-120 {
    padding: 75px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 0 50px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 26px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 20px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 32px;
  }

  .p-70 {
    padding: 32px;
  }
  .px-70 {
    padding: 0 32px;
  }

  .py-48 {
    padding: 40px 0;
  }
  /* all 46 */
  .p-46 {
    padding: 30px 20px;
  }

  .p-25 {
    padding: 20px;
  }

  .p-20 {
    padding: 14px 16px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 14px;
  }

  /* .btn-md {
    padding: 9px 13px;
    font-size: 13px;
  }

  .btn-lg {
    padding: 10px 35px;
    font-size: 13px;
  } */

  .slide-btn {
    padding: 20px 22px;
  }

  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 50px;
    left: -7px;
  }
  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .faq-drawer__title::after {
    top: 7px;
  }
}

@media screen and (max-width: 575.97) {
  body {
    font-size: 14px;
    line-height: 24px;
  }

  .leading-24 {
    line-height: 20px;
  }

  h1 {
    font-size: 43px;
  }
  /* 44 */
  h2 {
    font-size: 27px;
  }
  /* 32 */
  h3 {
    font-size: 25px;
  }
  /* 28 */
  h4 {
    font-size: 22px;
  }
  /* 20 */
  h5 {
    font-size: 17px;
  }
  /* 18 */
  h6 {
    font-size: 16px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-19 {
    font-size: 14px;
  }

  .pt-120 {
    padding-top: 60px;
  }

  .py-120 {
    padding: 60px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 0 30px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 20px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 20px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 30px;
  }

  .p-70 {
    padding: 30px;
  }
  .px-70 {
    padding: 0 30px;
  }

  .py-48 {
    padding: 40px 0;
  }
  /* all 46 */
  .p-46 {
    padding: 20px;
  }

  .p-25 {
    padding: 20px;
  }

  .p-20 {
    padding: 10px 16px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 12px;
  }

  /* .btn-md {
    padding: 8px 8px;
    font-size: 12px;
  }

  .btn-lg {
    padding: 9px 20px;
    font-size: 12px;
  } */

  .slide-btn {
    padding: 20px 22px;
  }

  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 23px;
    left: -6px;
  }
  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .faq-drawer__title::after {
    top: -17px;
  }
}

@media screen and (max-width: 399.97) {
  body {
    font-size: 13px;
    line-height: 20px;
  }

  .leading-24 {
    line-height: 20px;
  }

  h1 {
    font-size: 38px;
  }

  /* 44 */
  h2 {
    font-size: 25px;
  }
  /* 32 */
  h3 {
    font-size: 22px;
  }

  /* 28 */
  h4 {
    font-size: 18px;
  }

  /* 20 */
  h5 {
    font-size: 16px;
  }

  /* 18 */
  h6 {
    font-size: 16px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 15px;
  }

  .fs-19 {
    font-size: 12px;
  }

  .pt-120 {
    padding-top: 60px;
  }

  .py-120 {
    padding: 60px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 0 30px;
  }

  /* 44 70 */
  .process-box-padding {
    padding: 20px;
  }

  /* 30 24 */
  .price-box-padding {
    padding: 30px 20px;
  }

  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 30px;
  }

  .p-70 {
    padding: 30px;
  }
  .px-70 {
    padding: 0 30px;
  }

  .py-48 {
    padding: 40px 0;
  }
  /* all 46 */
  .p-46 {
    padding: 20px;
  }

  .p-25 {
    padding: 20px;
  }

  .px-24 {
    padding: 10px 20px;
  }

  .p-20 {
    padding: 10px 16px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 10px;
  }

  /* .btn-md {
    padding: 6px 8px;
    font-size: 11px;
  }

  .btn-lg {
    padding: 8px 12px;
    font-size: 12px;
  } */

  .slide-btn {
    padding: 20px 22px;
  }

  .hero-wrapper h1 {
    line-height: 100%;
  }

  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 20px;
    left: -10px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .faq-drawer__title::after {
    top: -17px;
  }
}
