@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-fustat);
  color: #2d343a;
  background-color: #f4f3ee;
  background-size: cover;
  line-height: 30px;
}

a {
  cursor: pointer;
}

img {
  height: auto !important;
  width: auto !important;
  max-width: 100%;
}

.font-helvetica-now {
  font-family: var(--font-helvetica-now);
}

.font-segoeUi {
  font-family: var(--font-segoeUi);
}

.font-the-bold {
  font-family: var(--font-the-bold);
}

.leading-28 {
  line-height: 28px;
}

.leading-24 {
  line-height: 24px;
}

.leading-20 {
  line-height: 20px;
}

.text-brown {
  color: #ca8555;
}

.text-green {
  color: #6c8e69;
}

.text-light-black {
  color: #333333;
}

.text-dark-black {
  color: #1e2939;
}

.text-gray {
  color: #d4d4d4;
}

.text-light-gray {
  color: #eaecf0;
}

.bg-light-green {
  background-color: #d4dace;
}

.bg-dark-green {
  background-color: #6c8e69;
}

.bg-green {
  background-color: #839e73;
}

.bg-primary {
  background-color: #f4f3ee;
}

.bg-light-gray {
  background-color: #f1f5f9;
}

.bg-dark-gray {
  background-color: #f5f5f5;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.f-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.pt-120 {
  padding-top: 120px;
}

.process-box-padding {
  padding: 44px 70px;
}

.price-box-padding {
  padding: 30px 24px;
}

.blog-box-padding {
  padding: 16px 16px 20px 16px;
}

.mt-50 {
  margin-top: 50px;
}

.p-70 {
  padding: 70px;
}

.py-48 {
  padding: 48px 0;
}

.statistics-padding {
  padding: 46px;
}

.p-45 {
  padding: 86px 45px;
}

.p-25 {
  padding: 25px;
}

.p-20 {
  padding: 20px;
}

.p-18 {
  padding: 18px;
}

.p-15 {
  padding: 15px;
}

.p-16 {
  padding: 16px;
}

.btn {
  padding: 12px 27px;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

.btn-xsm {
  padding: 12px 41px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.btn-sm {
  padding: 14px 25px;
  font-size: 14px;
  line-height: 100%;
}

.btn-md {
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.btn-lg {
  padding: 14px 70px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.btn-xl {
  padding: 14px 65px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.btn-primary {
  background-color: #6c8e69;
  border: 1px solid #000;
  border-radius: 6px;
  color: #fff;
}

.btn-green {
  background-color: #839e73;
  border-radius: 6px;
  color: #fff;
}

.btn-lightgreen {
  background-color: #d4dace4d;
  border: 1px solid #6c8e69;
  border-radius: 6px;
  color: #6c8e69;
}

.btn-transparent {
  border: 1px solid #000;
  border-radius: 6px;
  color: #000;
}

.btn-tertiary {
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
}

.slide-btn {
  padding: 22px 26px;
}

/* navbar */
.navbar .logo-wrapper {
  max-height: 69px;
}

.navbar-menu {
  background-color: #fff;
  padding: 16px 30px;
  border-radius: 6px;
}

/* HERO-SECTION */
.hero-section {
  background: rgba(190, 201, 184, 0.6);
}

.hero-wrapper {
  padding-top: 160px;
  padding-bottom: 70px;
}

.hero-section .image-wrapper {
  min-width: 44px;
  height: 44px;
}

.users {
  background-color: #fff;
  border-radius: 13px;
  bottom: 35px;
  left: 110px;
}
/* STATISTICS-SECTION */

/* HELPING-SECTION */

.helping-section .image-wrapper {
  min-width: 41px;
  height: 41px;
  border-radius: 10px;
}

/* TESTIMONIAL-SECTION */
.testimonial-section .image-wrapper {
  min-width: 52px;
  width: 52px;
}

/* INSTAGRAM-SECTION */
.instagram-section .image-wrapper {
  width: 322px;
  height: 424px;
}

/* PROCESS-SECTION */
.process-section .image-wrapper {
  height: 32px;
  min-width: 32px;
}

/* blog-section */

.blog-section .image-wrapper {
  height: 246px;
  border-radius: 14px;
}

/* FAQS-SECTION */

/* FOOTER-SECTION */
.footer-wrapper .logo-wrapper {
  height: 64px;
  width: 70px;
}

.footer-section .footer-wrapper {
  background-color: #6c8e69;
  padding-top: 64px;
  padding-bottom: 48px;
}

.footer-bottom .bottom-footer-wrapper {
  background-color: #81b57c;
}

.footer-bottom .image-wrapper {
  height: 24px;
  min-width: 24px;
}

@media screen and (max-width: 1399.97px) {
  .btn-sm {
    padding: 14px 20px;
    font-size: 13px;
  }

  /* 28 */
  h4 {
    font-size: 26px;
  }

  /* HERO-SECTION */
  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 20px;
    left: 25px;
  }

  .hero-wrapper {
    padding-top: 160px;
    padding-bottom: 60px;
  }

  .process-box-padding {
    padding: 40px 50px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 58px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 1199.97px) {
  .btn-md {
    padding: 15px 16px;
    font-size: 15px;
  }

  .btn-sm {
    padding: 14px 16px;
    font-size: 13px;
  }

  /* 28 */
  h4 {
    font-size: 24px;
  }

  /* HERO-SECTION */
  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 12px;
    left: 5px;
  }

  .hero-wrapper {
    padding-top: 160px;
    padding-bottom: 50px;
  }

  .blog-section .image-wrapper {
    border-radius: 14px;
    height: 200px;
  }

  .process-box-padding {
    padding: 34px 40px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 52px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 1023.97px) {
  body {
    font-size: 15px;
    line-height: 27px;
  }

  .btn-sm {
    padding: 14px 16px;
    font-size: 13px;
  }

  .btn-md {
    padding: 15px 16px;
    font-size: 15px;
  }

  .btn-lg {
    padding: 13px 50px;
    font-size: 15px;
  }

  h1 {
    font-size: 45px;
  }
  /* 44 */
  h2 {
    font-size: 40px;
  }
  /* 32 */
  h3 {
    font-size: 28px;
  }
  /* 28 */
  /* 28 */
  h4 {
    font-size: 24px;
  }
  /* 20 */
  h5 {
    font-size: 18px;
  }
  /* 18 */
  h6 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-19 {
    font-size: 16px;
  }

  .pt-120 {
    padding-top: 105px;
  }

  /* 44 70 */
  .process-box-padding {
    padding: 28px 32px;
  }

  /* 30 24 */
  .price-box-padding {
    padding: 30px 24px;
  }

  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 16px 16px;
  }

  .mt-50 {
    margin-top: 44px;
  }

  .p-70 {
    padding: 56px;
  }

  .py-48 {
    padding: 40px 0;
  }
  /* all 46 */
  .statistics-padding {
    padding: 40px;
  }

  .p-25 {
    padding: 23px;
  }

  .p-20 {
    padding: 18px;
  }

  .p-16 {
    padding: 16px;
  }

  .slide-btn {
    padding: 20px 24px;
  }

  .hero-wrapper {
    padding-top: 160px;
    padding-bottom: 45px;
  }

  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 20px;
    left: 73px;
  }

  .blog-section .image-wrapper {
    border-radius: 14px;
    height: 230px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 767.97px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  .btn {
    padding: 11px 22px;
    font-size: 15px;
  }

  .btn-xsm {
    padding: 11px 41px;
    font-size: 15px;
  }

  .btn-sm {
    padding: 14px 16px;
    font-size: 13px;
  }

  .btn-md {
    padding: 14px 16px;
    font-size: 14px;
  }

  .btn-lg {
    padding: 13px 45px;
    font-size: 15px;
  }

  .btn-xl {
    padding: 13px 65px;
    font-size: 15px;
  }

  h1 {
    font-size: 42px;
  }
  /* 44 */
  h2 {
    font-size: 36px;
  }
  /* 32 */
  h3 {
    font-size: 26px;
  }
  /* 28 */
  h4 {
    font-size: 24px;
  }
  /* 20 */
  h5 {
    font-size: 17px;
  }
  /* 18 */
  h6 {
    font-size: 15px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-19 {
    font-size: 16px;
  }

  .pt-120 {
    padding-top: 90px;
  }

  /* 44 70 */
  .process-box-padding {
    padding: 24px 26px;
  }

  /* 30 24 */
  .price-box-padding {
    padding: 30px 24px;
  }

  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 38px;
  }

  .p-70 {
    padding: 44px;
  }

  .py-48 {
    padding: 36px 0;
  }

  /* all 46 */

  .statistics-padding {
    padding: 32px;
  }

  .p-25 {
    padding: 22px;
  }

  .p-20 {
    padding: 14px 18px;
  }

  .p-16 {
    padding: 14px;
  }

  .slide-btn {
    padding: 21px 24px;
  }

  .navbar .logo-wrapper {
    max-height: 54px;
  }

  .hero-wrapper {
    padding-top: 160px;
    padding-bottom: 40px;
  }

  .hero-section .image-wrapper {
    min-width: 35px;
    height: 35px;
  }

  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 16px;
    left: 20px;
  }

  .blog-section .image-wrapper {
    border-radius: 14px;
    height: 255px;
  }

  .helping-section .image-wrapper {
    min-width: 37px;
    height: 37px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 575.97) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  .btn {
    padding: 10px 16px;
    font-size: 14px;
  }

  .btn-xsm {
    padding: 10px 41px;
    font-size: 14px;
  }

  .btn-sm {
    padding: 14px 16px;
    font-size: 13px;
  }

  .btn-md {
    padding: 14px 16px;
    font-size: 14px;
  }

  .btn-lg {
    padding: 12px 30px;
    font-size: 14px;
  }

  .btn-xl {
    padding: 12px 35px;
    font-size: 14px;
  }

  h1 {
    font-size: 40px;
  }
  /* 44 */
  h2 {
    font-size: 34px;
  }
  /* 32 */
  h3 {
    font-size: 25px;
  }
  /* 28 */
  h4 {
    font-size: 22px;
  }
  /* 20 */
  h5 {
    font-size: 16px;
  }
  /* 18 */
  h6 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 15px;
  }

  .fs-19 {
    font-size: 15px;
  }

  .pt-120 {
    padding-top: 75px;
  }

  .statistics-padding {
    padding: 32px;
  }

  /* 44 70 */
  .process-box-padding {
    padding: 20px 20px;
  }

  /* 30 24 */
  .price-box-padding {
    padding: 30px 20px;
  }

  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 30px;
  }

  .p-70 {
    padding: 30px;
  }

  .py-48 {
    padding: 30px 0;
  }

  .p-25 {
    padding: 21px;
  }

  .p-20 {
    padding: 13px 16px;
  }

  .p-16 {
    padding: 13px;
  }

  .slide-btn {
    padding: 20px 22px;
  }

  .navbar .logo-wrapper {
    max-height: 54px;
  }

  .hero-wrapper {
    padding-top: 160px;
    padding-bottom: 35px;
  }

  .hero-section .image-wrapper {
    width: 35px;
    height: 35px;
  }

  .helping-section .image-wrapper {
    min-width: 37px;
    height: 37px;
  }

  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 10px;
    left: -6px;
  }

  .blog-section .image-wrapper {
    border-radius: 14px;
    height: 200px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 399.97) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  .btn {
    padding: 10px 16px;
    font-size: 14px;
  }

  .btn-xsm {
    padding: 10px 41px;
    font-size: 14px;
  }

  .btn-sm {
    padding: 14px 16px;
    font-size: 13px;
  }

  .btn-md {
    padding: 14px 16px;
    font-size: 14px;
  }

  .btn-lg {
    padding: 12px 30px;
    font-size: 14px;
  }

  .btn-xl {
    padding: 12px 40px;
    font-size: 14px;
  }

  h1 {
    font-size: 38px;
  }
  /* 44 */
  h2 {
    font-size: 30px;
  }
  /* 32 */
  h3 {
    font-size: 24px;
  }
  /* 28 */
  h4 {
    font-size: 20px;
  }
  /* 20 */
  h5 {
    font-size: 14px;
  }
  /* 18 */
  h6 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 14px;
  }

  .fs-19 {
    font-size: 14px;
  }

  .pt-120 {
    padding-top: 60px;
  }

  .statistics-padding {
    padding: 30px 20px;
  }

  /* 44 70 */
  .process-box-padding {
    padding: 20px 20px;
  }

  /* 30 24 */
  .price-box-padding {
    padding: 30px 20px;
  }

  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 30px;
  }

  .p-70 {
    padding: 30px;
  }

  .py-48 {
    padding: 30px 0;
  }

  .p-25 {
    padding: 20px;
  }

  .p-20 {
    padding: 12px 14px;
  }

  .p-16 {
    padding: 12px;
  }

  .slide-btn {
    padding: 20px 22px;
  }

  .navbar .logo-wrapper {
    max-height: 54px;
  }

  .hero-wrapper {
    padding-top: 155px;
    padding-bottom: 30px;
  }

  .hero-section .image-wrapper {
    min-width: 35px;
    height: 35px;
  }

  .hero-wrapper h1 {
    line-height: 100%;
  }

  .helping-section .image-wrapper {
    min-width: 37px;
    height: 37px;
  }

  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 9px;
    left: -3px;
  }

  .footer-section .footer-wrapper {
    background-color: #6c8e69;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
