@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-fustat);
  color: #2d343a;
  background-color: #f4f3ee;
  background-size: cover;
}

img {
  height: auto !important;
  width: auto !important;
  max-width: 100%;
}

.font-helvetica-now {
  font-family: var(--font-helvetica-now);
}

.font-segoeUi {
  font-family: var(--font-segoeUi);
}

.font-the-bold {
  font-family: var(--font-the-bold);
}

.text-brown {
  color: #ca8555;
}

.text-green {
  color: #6c8e69;
}

.text-light-black {
  color: #333333;
}

.text-dark-black {
  color: #1e2939;
}

.text-gray {
  color: #d4d4d4;
}

.bg-light-green {
  background-color: #d4dace;
}

.bg-dark-green {
  background-color: #6c8e69;
}

.bg-green {
  background-color: #839e73;
}

.bg-primary {
  background-color: #f4f3ee;
}

.bg-light-gray {
  background-color: #f1f5f9;
}

.bg-dark-gray {
  background-color: #f5f5f5;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.f-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.pt-120 {
  padding-top: 120px;
}

.py-120 {
  padding: 120px 0;
}

.px-120 {
  padding: 0 120px;
}

.p-260 {
  padding: 0 260px;
}

.process-box-padding {
  padding: 44px 70px;
}

.price-box-padding {
  padding: 30px 24px;
}

.blog-box-padding {
  padding: 16px 16px 20px 16px;
}

.mt-50 {
  margin-top: 50px;
}

.p-70 {
  padding: 70px;
}

.p-46 {
  padding: 46px;
}

.p-25 {
  padding: 25px;
}

.p-24 {
  padding: 24px;
}

.p-20 {
  padding: 20px;
}

.p-18 {
  padding: 18px;
}

.p-15 {
  padding: 15px;
}

.p-16 {
  padding: 16px;
}

.btn {
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
}

.btn-sm {
  padding: 16px;
  font-size: 16;
  border-radius: 100px;
}

.btn-md {
  padding: 12px 27px;
  font-size: 16px;
  font-weight: 600;
}

.btn-lg {
  padding: 14px 70px;
  font-size: 16px;
}

.btn-primary {
  color: #fff;
  background-color: #6c8e69;
  border: 1px solid #000;
  box-shadow: 0 4px 0 0 #1e1e1e;
}

.btn-secondary {
  border: 1px solid #6c8e69;
  background: #d4dace;
  color: #6c8e69;
}

.btn-green {
  background-color: #839e73;
  color: white;
}

.btn-tertiary {
  color: #fff;
  border: 1px solid #fff;
}

.btn-transparent {
  color: #000;
  border: 1px solid #000;
}

.slide-btn {
  padding: 22px 26px;
}

/* .form-control {
}

.form-control::placeholder {
} */

/* navbar */
/* .logo-wrapper {
} */

/* .navbar {
} */

.navbar-menu {
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 6px;
}

/* .navbar.scroll-down {
}

.navbar.scroll-down .nav-container {
}

.navbar .nav-container {
}

.navbar .nav-link {
  padding: ;
  transition: ;
  font-weight: ;
}

.nav-icon {
}

.nav-toggle-btn {
} */

/* HERO-SECTION */
.hero-section {
  background: rgba(190, 201, 184, 0.6);
}
.hero-wrapper {
  padding-top: 160px;
  padding-bottom: 70px;
}

.hero-section .image-wrapper {
  width: 645px;
  height: 610px;
}

.users {
  background-color: #fff;
  border-radius: 13px;
  bottom: 35px;
  left: 110px;
}
/* STATISTICS-SECTION */
/* WHAT-WE-DO-SECTION */
/* PROCESS-SECTION */
/* blog-section */
.blog-section .imaege-wrapper {
  width: 100%;
}

/* FAQS-SECTION */
.faq-drawer {
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.faq-drawer__content-wrapper {
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  cursor: pointer;
  display: block;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: " ";
  display: inline-block;
  float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

@media screen and (min-width: 1279.97px) {
}

/* ------------ */

@media screen and (max-width: 1399.97px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 50px;
  }
  /* 44 */
  h2 {
    font-size: 40px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 23px;
  }
  /* 20 */
  h5 {
    font-size: 18px;
  }
  /* 18 */
  h6 {
    font-size: 18px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-19 {
    font-size: 19px;
  }

  .pt-120 {
    padding-top: 120px;
  }

  .py-120 {
    padding: 120px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 0 260px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 34px 54px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 24px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 16px 16px;
  }

  .mt-50 {
    margin-top: 44px;
  }

  .p-70 {
    padding: 70px;
  }
  /* all 46 */
  .p-46 {
    padding: 46px 22px;
  }

  .p-25 {
    padding: 22px;
  }

  .p-24 {
    padding: 24px;
  }

  .p-20 {
    padding: 18px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 16px;
  }

  .btn {
    padding: 14px 14px;
  }

  .btn-md {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
  }
  /* 14 70 */
  .btn-lg {
    padding: 14px 70px;
    font-size: 16px;
  }

  .slide-btn {
    padding: 22px 26px;
  }

  /* HERO-SECTION */
  .users {
    background-color: #fff;
    border-radius: 13px;
    bottom: 26px;
    left: -10px;
  }
}

@media screen and (max-width: 1199.97px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 50px;
  }
  /* 44 */
  h2 {
    font-size: 44px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 28px;
  }
  /* 20 */
  h5 {
    font-size: 20px;
  }
  /* 18 */
  h6 {
    font-size: 18px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 18px;
  }

  .fs-19 {
    font-size: 19px;
  }

  .pt-120 {
    padding-top: 120px;
  }

  .py-120 {
    padding: 120px 0;
  }

  .p-260 {
    padding: 240px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 42px 64px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 24px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 16px 16px;
  }

  .mt-50 {
    margin-top: 48px;
  }

  .p-70 {
    padding: 70px;
  }
  /* all 46 */
  .p-46 {
    padding: 46px;
  }

  .p-25 {
    padding: 25px;
  }

  .p-24 {
    padding: 24px;
  }

  .p-20 {
    padding: 18px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 16px;
  }

  .btn-md {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
  }
  /* 14 70 */
  .btn-lg {
    padding: 14px 70px;
    font-size: 16px;
  }

  .slide-btn {
    padding: 22px 26px;
  }
}

@media screen and (max-width: 1023.97px) {
  body {
    font-size: 15px;
  }
  .px-fixed-20 {
    padding: 0 20px;
  }
  h1 {
    font-size: 48px;
  }
  /* 44 */
  h2 {
    font-size: 42px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 27px;
  }
  /* 20 */
  h5 {
    font-size: 19px;
  }
  /* 18 */
  h6 {
    font-size: 17px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 18px;
  }

  .fs-19 {
    font-size: 18px;
  }

  .pt-120 {
    padding-top: 115px;
  }

  .py-120 {
    padding: 115px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 220px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 40px 58px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 23px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 46px;
  }

  .p-70 {
    padding: 64px;
  }
  /* all 46 */
  .p-46 {
    padding: 44px;
  }

  .p-25 {
    padding: 24px;
  }

  .p-24 {
    padding: 23px;
  }

  .p-20 {
    padding: 16px 18px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 14px 16px;
  }

  .btn-md {
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 600;
  }
  /* 14 70 */
  .btn-lg {
    padding: 13px 64px;
    font-size: 15px;
  }

  .slide-btn {
    padding: 22px 24px;
  }
}

@media screen and (max-width: 767.97px) {
  body {
    font-size: 15px;
  }
  .px-fixed-20 {
    padding: 0 20px;
  }
  h1 {
    font-size: 47px;
  }
  /* 44 */
  h2 {
    font-size: 40px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 26px;
  }
  /* 20 */
  h5 {
    font-size: 19px;
  }
  /* 18 */
  h6 {
    font-size: 17px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 18px;
  }

  .fs-19 {
    font-size: 18px;
  }

  .pt-120 {
    padding-top: 105px;
  }

  .py-120 {
    padding: 105px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 180px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 36px 46px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 22px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 44px;
  }

  .p-70 {
    padding: 62px;
  }
  /* all 46 */
  .p-46 {
    padding: 42px;
  }

  .p-25 {
    padding: 23px;
  }

  .p-24 {
    padding: 23px;
  }

  .p-20 {
    padding: 14px 18px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 13px 15px;
  }

  .btn-md {
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 600;
  }
  /* 14 70 */
  .btn-lg {
    padding: 12px 56px;
    font-size: 15px;
  }

  .slide-btn {
    padding: 22px 24px;
  }
}

@media screen and (max-width: 575.97) {
  body {
    font-size: 15px;
  }
  .px-fixed-20 {
    padding: 0 20px;
  }
  h1 {
    font-size: 46px;
  }
  /* 44 */
  h2 {
    font-size: 36px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 24px;
  }
  /* 20 */
  h5 {
    font-size: 19px;
  }
  /* 18 */
  h6 {
    font-size: 17px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 18px;
  }

  .fs-19 {
    font-size: 17px;
  }

  .pt-120 {
    padding-top: 75px;
  }

  .py-120 {
    padding: 75px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 60px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 24px 32px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 22px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 36px;
  }

  .p-70 {
    padding: 44px;
  }
  /* all 46 */
  .p-46 {
    padding: 40px 28px;
  }

  .p-25 {
    padding: 22px;
  }

  .p-24 {
    padding: 22px;
  }

  .p-20 {
    padding: 16px 18px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-16 {
    padding: 14px 16px;
  }

  .btn-md {
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 600;
  }
  /* 14 70 */
  .btn-lg {
    padding: 12px 56px;
    font-size: 15px;
  }

  .slide-btn {
    padding: 21px 23px;
  }
}

@media screen and (max-width: 399.97) {
  body {
    font-size: 14px;
  }
  .px-fixed-20 {
    padding: 0 20px;
  }
  /* 50 */
  h1 {
    font-size: 45px;
  }
  /* 44 */
  h2 {
    font-size: 32px;
  }
  /* 32 */
  h3 {
    font-size: 32px;
  }
  /* 28 */
  h4 {
    font-size: 22px;
  }
  /* 20 */
  h5 {
    font-size: 18px;
  }
  /* 18 */
  h6 {
    font-size: 16px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 18px;
  }

  .fs-19 {
    font-size: 16px;
  }

  .pt-120 {
    padding-top: 60px;
  }

  .py-120 {
    padding: 60px 0;
  }

  .px-120 {
    padding: 0px 0px;
  }

  .p-260 {
    padding: 0px 0px;
  }
  /* 44 70 */
  .process-box-padding {
    padding: 20px 20px;
  }
  /* 30 24 */
  .price-box-padding {
    padding: 30px 20px;
  }
  /* 16 16 20 16 */
  .blog-box-padding {
    padding: 16px 16px 20px 16px;
  }

  .mt-50 {
    margin-top: 30px;
  }

  .p-70 {
    padding: 30px;
  }
  /* all 46 */
  .p-46 {
    padding: 30px 20px;
  }

  .p-25 {
    padding: 20px;
  }

  .p-24 {
    padding: 20px;
  }

  .p-20 {
    padding: 10px 16px;
  }

  .p-18 {
    padding: 18px;
  }

  .p-15 {
    padding: 15px;
  }

  .p-16 {
    padding: 12px 14px;
  }

  .btn {
    padding: 14px 24px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
  }
  /* padding: 16px;
    font-size: 16px;
    border-radius: 100px; */
  .btn-sm {
    padding: 16px;
    font-size: 14px;
    border-radius: 100px;
  }

  .btn-md {
    padding: 12px 27px;
    font-size: 14px;
    font-weight: 600;
  }

  .btn-lg {
    padding: 12px 50px;
    font-size: 16px;
  }

  .slide-btn {
    padding: 20px 22px;
  }
}
