@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-fustat);
  color: #2d343a;
  background-color: #f4f3ee;
  background-size: cover;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.font-helvetica-now {
  font-family: var(--font-helvetica-now);
}

.font-segoeUi {
  font-family: var(--font-segoeUi);
}

.font-the-bold {
  font-family: var(--font-the-bold);
}

.text-brown {
  color: #ca8555;
}

.text-green {
  color: #6c8e69;
}

.text-light-black {
  color: #333333;
}

.text-dark-black {
  color: #1e2939;
}

.text-gray {
  color: #d4d4d4;
}

.bg-light-green {
  color: #d4dace;
}

.bg-dark-green {
  color: #6c8e69;
}

.bg-green {
  color: #839e73;
}

.bg-primary {
  background: #f4f3ee;
}

.bg-light-gray {
  background-color: #f1f5f9;
}

.bg-dark-gray {
  background-color: #f5f5f5;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 18px;
}

.f-12{
  font-size: 12px;
}

.fs-14 {
  font-size: 12px;
}

.fs-19 {
  font-size: 19px;
}

.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.p-70{
  padding: 70px;
}

.p-46{
  padding: 46px;
}

.p-25{
  padding: 25px;
}

.p-24{
  padding: 24px;
}

.p-20{
  padding: 20px;
}

.p-18{
  padding: 18px;
}

.p-15{
  padding: 15px;
}

.p-16{
  padding: 16px;
}

.price-box-padding{
  padding: 30px 22px;
}

.btn {
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  font-family: var(--font-the-bold);
}

.btn-sm {
  padding: 16px;
  font-size: 16;
  font-family: var(--font-segoeUi);
  border-radius: 100px;
}

.btn-md {
  padding: 12px 27px;
  font-size: 16px;
}

.btn-lg {
  padding: 14px 90px;
  font-weight: 700;
  font-size: 14px;
}

.btn-primary {
  color: #fff;
  background-color: #6c8e69;
  border: 1px solid #000;
  box-shadow: 0 4px 0 0 #1e1e1e;
}

.btn-secondary {
  border: 1px solid #6c8e69;
  background: #d4dace;
  color: #6c8e69;
}

.btn-tertiary {
  color: #fff;
  border: 1px solid #fff;
}

.btn-transparent {
  border: 1px solid #000;
  color: #000;
}

.form-control {
}

.form-control::placeholder {
}

/* navbar */
.logo-wrapper {
}

.navbar {
}

.navbar.scroll-down {
}

.navbar.scroll-down .nav-container {
}

.navbar .nav-container {
}

.navbar .nav-link {
  padding: 10px 6px;
  transition: all 0.2s;
  font-weight: 400;
}

.nav-icon {
}

.nav-toggle-btn {
}

/* hero-section */
/* service-section */
/* product-section */
/* trusted-section */
/* blog-section */
/* marquee-section */
/* book-now-section */
/* contact-section */
/* footer-section */

@media screen and (min-width: 1279.97px) {

}


/* ------------ */


@media screen and (max-width: 1399.97px) {

}

@media screen and (max-width: 1199.97px) {
  body {
  }
}

@media screen and (max-width: 1023.97px) {
  body {
  }
}

@media screen and (max-width: 767.97px) {
  body {
  }
}

@media screen and (max-width: 575.97) {
  body {
  }
}

@media screen and (max-width: 399.97) {
  body {
  }
}